@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color:#e4ff99;
  background-image:
  radial-gradient(at 22% 43%, hsla(319,87%,77%,1) 0px, transparent 50%),
  radial-gradient(at 69% 16%, hsla(307,67%,79%,1) 0px, transparent 50%),
  radial-gradient(at 87% 69%, hsla(178,93%,70%,1) 0px, transparent 50%),
  radial-gradient(at 34% 50%, hsla(118,94%,79%,1) 0px, transparent 50%),
  radial-gradient(at 91% 22%, hsla(334,86%,72%,1) 0px, transparent 50%),
  radial-gradient(at 22% 75%, hsla(347,83%,61%,1) 0px, transparent 50%);
}

.gif-container {
  display: flex;
  justify-content: center;
  margin: 6rem 0 3rem 0;
  width: 100%;
  padding: 1rem;
}

img {
  height: 21rem;
  max-width: 100%;
  box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.9);
}

.ui-container {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.form-control {
  margin: 3rem 0 0.25rem 0;
  padding-bottom: 1.25rem;
}

.form-control label {
  display: inline-block;
  margin-bottom: 0.3rem;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 0.625rem;
  font-size: 0.875rem;
}

button {
  color: #333;
  background-color: #f7f7f7;
  border: 2px solid #f7f7f7;
  border-radius: 4px;
  display: block;
  font-size: 1rem;
  padding: 0.625rem;
  width: 100%;
  transition: 0.2s;
}

button:hover {
  background-color: #333;
  border: 2px solid #333;
  color: #f7f7f7;
}

button.random {
  width: 50%;
  align-self: center;
  margin-bottom: 3rem;
}

.search-button {
  margin-bottom: 3rem;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  font-size: 1.3rem;
}

.fa-github {
  color: rgb(28, 28, 28);
  font-size: 1.6rem;
  transition: transform 0.7s ease-in-out;
}

.fa-github:hover {
  transform: rotateY(360deg) scale(1.15);
}